<main-theme-modal (dismissEvent)="onCancel()">
  <ng-container header>{{ 'features.system_management.titles.import_project' | translate }}</ng-container>

  <ng-container body>

    <div *ngIf="visibleContent.fileUpload" class="row no-gutters">
      <div class="col">
        <catalog-uploads [config]="uploadConfig" (uploadSuccess)="onUploadSuccess($event)"
          (uploadError)="onUploadError($event)"></catalog-uploads>
      </div>
    </div>

    <div *ngIf="visibleContent.uploadResults" class="table-responsive">

      <div class="alert alert-secondary" role="alert">
        <div class="alert-text">
          <h4 class="alert-heading">{{ 'features.system_management.messages.project_read_successfully' | translate }}</h4>
          <p>{{ 'features.system_management.messages.verify_informations_and_select_action' | translate }}</p>
          <div *ngIf="numberOfInvalidGateways" class="mb-0" style="font-weight: 500;">
            <hr />
            <i class="fa fa-exclamation-triangle text-warning"></i> &nbsp; {{ 'features.system_management.messages.gateways_not_imported' | translate:{number: numberOfInvalidGateways} }}
          </div>
        </div>
      </div>

      <mat-table [dataSource]="table.dataSource">

        <mat-header-row *matHeaderRowDef="table.displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: table.displayedColumns"></mat-row>

        <ng-container matColumnDef="gateway">
          <mat-header-cell *matHeaderCellDef>{{ 'dictionary.gateway' | translate | titlecase }}</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div><span class="font-weight-bold">{{ row.name }}</span><br />{{ row.id }}</div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="modules">
          <mat-header-cell *matHeaderCellDef class="justify-content-center"># {{ 'dictionary.modules' | translate | titlecase }}</mat-header-cell>
          <mat-cell *matCellDef="let row" class="justify-content-center">
            <h4>{{ row.modules.length }}</h4>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="field-devices">
          <mat-header-cell *matHeaderCellDef class="justify-content-center"># {{ 'labels.field_devices' | translate | titlecase }}</mat-header-cell>
          <mat-cell *matCellDef="let row" class="justify-content-center">
            <h4>{{ row.fieldDevicesNumber }}</h4>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="application-devices">
          <mat-header-cell *matHeaderCellDef class="justify-content-center"># {{ 'labels.application_objects' | translate | titlecase }}</mat-header-cell>
          <mat-cell *matCellDef="let row" class="justify-content-center">
            <h4>{{ row.applicationDevicesNumber }}</h4>
          </mat-cell>
        </ng-container>

      </mat-table>

    </div>
  </ng-container>

  <ng-container footer>
    <div *ngIf="visibleContent.fileUpload">
      <button type="button" class="btn-cancel" (click)="onCancel()">{{ 'dictionary.close' | translate | titlecase }}</button>
    </div>
    <div *ngIf="visibleContent.uploadResults">
      <button type="button" class="btn-cancel" (click)="onCancel()">{{ 'dictionary.cancel' | translate | titlecase }}</button>
      <button type="button" class="btn-cancel" (click)="onReset()">{{ 'labels.choose_another_file' | translate }}</button>
      <button type="button" class="btn-submit" (click)="onSave()">{{ 'dictionary.import' | translate | titlecase }}</button>
    </div>
  </ng-container>

</main-theme-modal>
