<main-theme-modal (dismissEvent)="onCancel()">

  <ng-container header>Synchronize Entity Information</ng-container>

  <ng-container body>

    <div *ngIf="visibleContent.fetchingInformation" class="row no-gutters">
      <div class="col">
          <catalog-loader name="loader" type="ball-clip-rotate-multiple"></catalog-loader>
      </div>
    </div>

    <div *ngIf="visibleContent.syncList" class="table-responsive">

      <div class="alert alert-success" role="alert">
        <div class="alert-text">
          <h4 class="alert-heading">File read successfully!</h4>
          <p>Verify if the information is correct and select your action.</p>
          <hr>
          <p class="mb-0"><i class="fa fa-exclamation-triangle"></i> &nbsp; By choosing SAVE, your current system
            will be replaced!
          </p>
        </div>
      </div>

      <mat-table [dataSource]="table.dataSource">

        <mat-header-row *matHeaderRowDef="table.displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: table.displayedColumns"></mat-row>

        <ng-container matColumnDef="gateway">
          <mat-header-cell *matHeaderCellDef>{{ 'dictionary.gateway' | translate | titlecase }}</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div><span class="font-weight-bold">{{ row.name }}</span><br />{{ row.id }}</div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="modules">
          <mat-header-cell *matHeaderCellDef class="justify-content-center"># Modules</mat-header-cell>
          <mat-cell *matCellDef="let row" class="justify-content-center">
            <h4>{{ row.modules.length }}</h4>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="devices">
          <mat-header-cell *matHeaderCellDef class="justify-content-center"># Devices</mat-header-cell>
          <mat-cell *matCellDef="let row" class="justify-content-center">
            <h4>{{ row.fieldDevices.length }}</h4>
          </mat-cell>
        </ng-container>

      </mat-table>

    </div>
  </ng-container>

  <ng-container footer>
    <div *ngIf="visibleContent.fetchingInformation">
      <button type="button" class="btn-cancel" (click)="onCancel()">Close</button>
    </div>
    <div *ngIf="visibleContent.syncList">
      <button type="button" class="btn-cancel" (click)="onCancel()">Cancel</button>
      <button type="button" class="btn-cancel" (click)="onReset()">Choose another file</button>
      <button type="button" class="btn-submit" (click)="onSave()">Save</button>
    </div>
  </ng-container>

</main-theme-modal>
