.form-input-icon {
	position: relative;

	.field-icon {
		display: flex;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;
	}

	&.form-input-icon-right {
		.clear-icon {
			right: 40px;
			left: auto;
    }
		.search-icon {
			right: 12px;
			left: auto;
    }

	}
}
