.kt-notification {
  flex-grow: 1;
}

.kt-notification__item {
  &::after {
    content: none;
  }
  border-bottom: none;

  &:hover {
    background-color: unset;
    .kt-notification__item-title {
      color: #595d6e;
    }
  }

  .kt-notification__item-title {
    font-size: 1.1rem;
    font-weight: 500;
  }
}

.deploy-progress {
  max-width: 900px;
  width: 100%;
}

.source-code {
  background: #ebedf2;
  max-height: 200px;
  height: 200px;
  overflow: auto;

  &::-webkit-scrollbar {
    background-color: #aaa;
    border-radius: 20px;
    height: 8px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 20px;
  }
}
