<!--begin::Wrapper-->
<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
    <!--begin::Header-->

    <!--end::Header-->
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
            <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Details-->
                <div class="d-flex align-items-center flex-wrap mr-2">
                    <!--begin::Title-->
                    <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Paginas</h5>
                    <!--end::Title-->
                    <!--begin::Separator-->
                    <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
                    <!--end::Separator-->
                    <!--begin::Search Form-->    
                     <h6 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Lista de páginas associadas ao FzGuard</h6>
                </div>
                <!--end::Details-->
           

                <!--begin::Toolbar-->
   
                
            </div>
        </div>

        <div class="d-flex flex-column-fluid">

            <div class="container">
                <p class="text-dark font-weight-bold mt-2 mb-2 mr-5">FzGuard Geral</p>

                <div class="card card-custom">

               


                    <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable">
                           <!--TABELA -->
                           
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Página</th>
                                        <th scope="col">Função</th>
                                        <th scope="col">Link</th>
                                       <th scope="col">Status</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">0</th>
                                        <td>Controlo</td>
                                        <td>Mostra em tempo real os militares que entram/saem do CF</td>
                                        <td> <a href="/controlo" > /controlo  </a></td>
                                        
                                        <td>
                                            <span class="label label-inline label-light-success font-weight-bold">
                                                online
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Geral</td>
                                        <td>Vista Geral do Corpo de Fuzileiros</td>
                                        <td> <a href="/cfhome"> /cfhome  </a></td>
                                        
                                        <td>
                                            <span class="label label-inline label-light-success font-weight-bold">
                                                online
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Registo</td>
                                        <td>Atribui/retira cartões aos militares</td>
                                        <td> <a href="/link" > /link  </a></td>
                                        
                                        <td>
                                            <span class="label label-inline label-light-success font-weight-bold">
                                                online
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Movimentos</td>
                                        <td>Mostra/procura movimentos de militares</td>
                                        <td> <a href="/movimentos" > /movimentos  </a></td>
                                        
                                        <td>
                                            <span class="label label-inline label-light-success font-weight-bold">
                                                online
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Cartões</td>
                                        <td>Lista todos os Cartoes e a quem estao atribuidos</td>
                                        <td> <a href="/card-list" > /card-list  </a></td>
                                        
                                        <td>
                                            <span class="label label-inline label-light-warning font-weight-bold">
                                                online
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>Manual</td>
                                        <td>Registo manual de entrada/saida do CF</td>
                                        <td> <a href="/manual" > /manual  </a></td>
                                        
                                        <td>
                                            <span class="label label-inline label-light-success font-weight-bold">
                                                online
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">8</th>
                                        <td>Entidades</td>
                                        <td>Lista todos os que utilizaram o FzGuard ou foram pesquisados por ele</td>
                                        <td> <a href="/entidades" > /entidades  </a></td>
                                        
                                        <td>
                                            <span class="label label-inline label-light-danger font-weight-bold">
                                                online
                                            </span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">6</th>
                                        <td>Pesquisa / Fotos</td>
                                        <td>Pesquisa militar e devolve a foto e unidade onde se encontra</td>
                                        <td> <a href="/foto" > /foto  </a></td>
                                        
                                        <td>
                                            <span class="label label-inline label-light-warning font-weight-bold">
                                                online
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">7</th>
                                        <td>Escola</td>
                                        <td>Vista Geral da escola de Fuzileiros</td>
                                        <td> <a href="/escola" > /escola  </a></td>
                                        
                                        <td>
                                            <span class="label label-inline label-light-danger font-weight-bold">
                                                online
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">8</th>
                                        <td>Alfeite</td>
                                        <td>Vista Geral da Base de Fuzileiros</td>
                                        <td> <a href="/alfeite" > /alfeite  </a></td>
                                        
                                        <td>
                                            <span class="label label-inline label-light-danger font-weight-bold">
                                                online
                                            </span>
                                        </td>
                                    </tr>
                      
                      
                                </tbody>
                            </table>


                    </div>
                    <!--end: Datatable-->
                </div>
            </div>

            
        </div>


        <div class="d-flex flex-column-fluid" style="margin-top: 20px;"  >

            <div class="container">
                <p class="text-dark font-weight-bold mt-2 mb-2 mr-5">Escotaria Central</p>

                <div class="card card-custom">

               


                    <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable">
                           <!--TABELA -->
                           
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Página</th>
                                        <th scope="col">Função</th>
                                        <th scope="col">Link</th>
                                       <th scope="col">Status</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">0</th>
                                        <td>Armas</td>
                                        <td>Mostra em tempo real os militares que entram/saem da escotaria</td>
                                        <td> <a href="/armas" > /armas  </a></td>
                                        
                                        <td>
                                            <span class="label label-inline label-light-success font-weight-bold">
                                                online
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Movimentos</td>
                                        <td>Mostra/procura movimentos na escotaria central </td>
                                        <td> <a href="/armasmovimentos"> /armasmovimentos  </a></td>
                                        
                                        <td>
                                            <span class="label label-inline label-light-success font-weight-bold">
                                                online
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Armar</td>
                                        <td>Atribui/retira Armeiros aos militares</td>
                                        <td> <a href="/armar" > /armar </a></td>
                                        
                                        <td>
                                            <span class="label label-inline label-light-warning font-weight-bold">
                                                online
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Lista</td>
                                        <td>lista todos os armeiros</td>
                                        <td> <a href="/paginas" > /armeiros  </a></td>
                                        
                                        <td>
                                            <span class="label label-inline label-light-danger font-weight-bold">
                                                offline
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Editar Armeiro</td>
                                        <td>Consulta e edita as armas de um determinado Armeiro</td>
                                        <td> <a href="/paginas" > /Listar  </a></td>
                                        
                                        <td>
                                            <span class="label label-inline label-light-danger font-weight-bold">
                                                offline
                                            </span>
                                        </td>
                                    </tr>
                                   
                      
                      
                                </tbody>
                            </table>


                    </div>
                    <!--end: Datatable-->
                </div>
            </div>

            
        </div>


        <div class="d-flex flex-column-fluid" style="margin-top: 20px;">

            <div class="container">
                <p class="text-dark font-weight-bold mt-2 mb-2 mr-5">Escotaria D</p>

                <div class="card card-custom">

               


                    <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable">
                           <!--TABELA -->
                           
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Página</th>
                                        <th scope="col">Função</th>
                                        <th scope="col">Link</th>
                                       <th scope="col">Status</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">0</th>
                                        <td>Armas</td>
                                        <td>Mostra em tempo real os militares que entram/saem da escotaria</td>
                                        <td> <a href="/armas-d" > /armas d  </a></td>
                                        
                                        <td>
                                            <span class="label label-inline label-light-success font-weight-bold">
                                                online
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Movimentos</td>
                                        <td>Mostra/procura movimentos na escotaria central </td>
                                        <td> <a href="/paginas"> /armasmovimentos  </a></td>
                                        
                                        <td>
                                            <span class="label label-inline label-light-danger font-weight-bold">
                                                offline
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Armar</td>
                                        <td>Atribui/retira Armeiros aos militares</td>
                                        <td> <a href="/paginas" > /armar </a></td>
                                        
                                        <td>
                                            <span class="label label-inline label-light-danger font-weight-bold">
                                                online
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Lista</td>
                                        <td>lista todos os armeiros</td>
                                        <td> <a href="/paginas" > /armeiros  </a></td>
                                        
                                        <td>
                                            <span class="label label-inline label-light-danger font-weight-bold">
                                                offline
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Editar Armeiro</td>
                                        <td>Consulta e edita as armas de um determinado Armeiro</td>
                                        <td> <a href="/paginas" > /Listar  </a></td>
                                        
                                        <td>
                                            <span class="label label-inline label-light-danger font-weight-bold">
                                                offline
                                            </span>
                                        </td>
                                    </tr>
                                   
                      
                      
                                </tbody>
                            </table>


                    </div>
                    <!--end: Datatable-->
                </div>
            </div>

            
        </div>
        <div class="d-flex flex-column-fluid" style="margin-top: 20px;">

            <div class="container">
                <p class="text-dark font-weight-bold mt-2 mb-2 mr-5">Dashboard em tempo real do hardware do Fzguard</p>

                <div class="card card-custom">

               


                    <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable">
                           <!--TABELA -->
                           
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Página</th>
                                        <th scope="col">Função</th>
                                        <th scope="col">Link</th>
                                       <th scope="col">Status</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">0</th>
                                        <td>FzGuard</td>
                                        <td>User: Admin Pass: zabbix - Mostra, em tempo real, todo o Fzguard</td>
                                        <td> <a href="http://10.45.212.12:5000" > /zabbix   </a></td>
                                        
                                        <td>
                                            <span class="label label-inline label-light-success font-weight-bold">
                                                online
                                            </span>
                                        </td>
                                    </tr>
                                    
                      
                      
                                </tbody>
                            </table>


                    </div>
                    <!--end: Datatable-->
                </div>
            </div>

            
        </div>

        <div class="d-flex flex-column-fluid" style="margin-top: 20px;">

            <div class="container">
                <p class="text-dark font-weight-bold mt-2 mb-2 mr-5">Ferramenta Administrativa e API controladora - NÃO ALTERAR</p>

                <div class="card card-custom">

               


                    <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable">
                           <!--TABELA -->
                           
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Página</th>
                                        <th scope="col">Função</th>
                                        <th scope="col">Link</th>
                                       <th scope="col">Status</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">0</th>
                                        <td>API</td>
                                        <td>Mostra em tempo real os militares que entram/saem da escotaria</td>
                                        <td> <a href="http://10.45.212.12:8000" > /API   </a></td>
                                        
                                        <td>
                                            <span class="label label-inline label-light-success font-weight-bold">
                                                online
                                            </span>
                                        </td>
                                    </tr>
                                    
                      
                      
                                </tbody>
                            </table>


                    </div>
                    <!--end: Datatable-->
                </div>
            </div>

            
        </div>

        <div class="d-flex flex-column-fluid" style="margin-top: 20px;">

            <div class="container">
                <p class="text-dark font-weight-bold mt-2 mb-2 mr-5">LEGENDA</p>

                <div class="card card-custom">

               


                    <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable">
                           <!--TABELA -->
                           
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">TAG</th>
                                        <th scope="col">Função</th>
                                   

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">0</th>
                                        <td>
                                            <span class="label label-inline label-light-success font-weight-bold">
                                                online
                                            </span>
                                        </td>
                                        <td>Pagina online 100% operacional  </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">1</th>
                                        <td>
                                            <span class="label label-inline label-light-warning font-weight-bold">
                                                online
                                            </span>
                                        </td>
                                        <td>Pagina esta online e a funcionar mas com algumas funções em desenvolvimento  </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">2</th>
                                        <td>
                                            <span class="label label-inline label-light-danger font-weight-bold">
                                                online
                                            </span>
                                        </td>
                                        <td>Pagina já esta online mas as suas funões estão em desenvolvimento  </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">3</th>
                                        <td>
                                            <span class="label label-inline label-light-danger font-weight-bold">
                                                offline
                                            </span>
                                        </td>
                                        <td>Pagina em desenvolvimento não disponivel online</td>
                                    </tr>
                                    
                      
                      
                                </tbody>
                            </table>


                    </div>
                    <!--end: Datatable-->
                </div>
            </div>

            
        </div>

        <!--end::Entry-->
    </div>
    <!--end::Content-->
    <!--begin::Footer-->

    <!--end::Footer-->
</div>
<!--end::Wrapper-->