.newtable {
  background-color: #ffffff;
  border-collapse: collapse;
  overflow: hidden;
  width: 100%;

}

.imgmil img { 
  width: 100%; 
  transition: 0.5s all ease-in-out; 
  z-index:-40
} 
.imgmil:hover img { 
  transform: scale(1.5); 
}

#kt_wrapper {padding-top: 0%;}

.date{margin-right: 2px;}

.local{margin-left: 20px;}

