.page-custom {
  @media (min-width: 1024px) {
    margin-top: -55px; // to remove gap left by subheader bar
  }
}

.system-card {
  padding-top: 25px;
}

#chart {
  max-width:650px;
  margin: 35px auto;
  display: block;

  
}

.row{margin-bottom:50px}
