@import '@ng-select/ng-select/themes/default.theme.css';

.ng-select.custom-theme {
  z-index: 50;

  &.ng-select-single .ng-select-container {
    height: 40px;
  }

  .ng-select-container {
    border: 1px solid #ebedf2;
    border-radius: .25rem;
    height: 40px;
/*
    .ng-value {
      display: flex;
      flex: 1;

      .error-icon {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        font-size: 1.2em;
        padding-right: 9px;

        i {
          font-size: 17px;
        }
      }
    }
*/
  }

  &.ng-select-error .ng-select-container {
    border-color: #f4516c !important;
  }

}
