<label *ngIf="label" class="col-form-label">
  {{label}} {{required ? '*' : ''}}
</label>
<div class="form-input">
  <ng-select
    [disabled]="formControlField.disabled"
    [appendTo]="appendTo"
    [(ngModel)]="selectedValue"
    [multiple]="multiple"
    [items]="items"
    [bindLabel]="bindLabel"
    [bindValue]="bindValue"
    [placeholder]="placeholder"
    [required]="required"
    [clearable]="clearable"
    class="custom-theme"
    [ngClass]="{'ng-select-error': hasError}"
    (change)="onChanged($event)"
    (blur)="onTouched()"
    [groupBy]="groupBy"
  >
  <ng-template *ngIf="groupBy" ng-optgroup-tmp let-item="item">
      {{item[groupBy]}}
  </ng-template>
  </ng-select>
</div>

<div *ngIf="description && !hideMessages && !hasError">
  {{ description }}
</div>

<div *ngIf="!hideMessages && hasError" class="text-danger error-message pt-1">
  {{ errorMessage }}
</div>
