.input {
  border: none;
  width: 8.8ch;
  background:
    repeating-linear-gradient(90deg,
        dimgrey 0,
        dimgrey 1ch,
        transparent 0,
        transparent 1.5ch)
      0 100%/100% 2px no-repeat;
  color: dimgrey;
  font: 5ch consolas, monospace;
  letter-spacing: .5ch;
}

input:focus {
  outline: none;
  color: #646c9a;
}

.hint {
  padding-top: 20px;
}