<app-sign-in-layout>
  <div *ngIf="successMessage"
    class="alert alert-success alert-dismissible fade show m-alert m-alert--air m-alert--outline m-alert--outline-2x"
    role="alert">
    <strong>
      {{ 'dictionary.success' | translate | titlecase }}
    </strong>
    {{ 'auth.labels.recovery_email_sent' | translate }}
  </div>
  <div *ngIf="errorMessage"
    class="alert alert-danger alert-dismissible fade show m-alert m-alert--air m-alert--outline m-alert--outline-2x"
    role="alert">
    {{ 'auth.messages.errors.something_went_wrong' | translate }}
  </div>
  <form *ngIf="!successMessage && !errorMessage" [formGroup]="recoverForm">
    <app-form-input formControlName="email" [formControlField]="f.email" [required]="true"
      placeholder="{{'auth.labels.enter_your_email' | translate}}">
    </app-form-input>
    <div class="pt-4 d-flex justify-content-end">
      <button class="btn btn-outline-info m-btn--custom" type="button" (click)="backToSignIn()">
        {{ 'auth.labels.sign_in' | translate }}
      </button>
      &nbsp;
      &nbsp;
      <button class="btn btn-info m-btn--custom m-btn--air" type="submit" (click)="forgotPassword()">
        {{ 'auth.labels.send_email' | translate }}
      </button>
    </div>
  </form>
  <div *ngIf="successMessage || errorMessage" class="pt-4 text-right">
    <button (click)="backToSignIn()" class="btn btn-info m-btn--custom login-button">
      {{ 'auth.labels.sign_in' | translate }}
    </button>
  </div>
</app-sign-in-layout>