<ng-container *ngIf="contentReady">
  <h1 class="title">Home</h1>

  <form class="search-form" [formGroup]="searchForm">
    <div class="row">
      <div class="col-4">
        <app-form-input formControlName="search" [formControlField]="f.search" placeholder="{{'search by name or id'}}">
        </app-form-input>
      </div>

      <div class="col-3">
        <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="startDate" formControlName="startDate" ngbDatepicker #d1="ngbDatepicker">
            
          <div class="input-group-append">
            <button (click)="d1.toggle()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="endDate" formControlName="endDate" ngbDatepicker #d2="ngbDatepicker">
          
        <div class="input-group-append">
          <button (click)="d2.toggle()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
        </div>
      </div>
      </div>

      <div class="">
        <button class="btn btn-info m-btn--custom search-button" type="submit" (click)="search()">
          {{ 'Dictionary.search' | translate }}
        </button>
        <a [href]="exportUrl" target="_blank">
          <button class="btn btn-info m-btn--custom search-button" type="button">
            {{ 'Export' | translate }}
          </button>
        </a>
        
      </div>
    </div>
  </form>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">productId</th>
        <th scope="col">productName</th>
        <th scope="col">category</th>
        <th scope="col">subCategory</th>
        <th scope="col">price</th>
        <th scope="col">quantity</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of products; let i = index">
        <tr>
          <th scope="row">{{ i+1 }}</th>
          <td>{{ item.productId }}</td>
          <td>{{ item.productName }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.subCategory }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.quantity }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ng-container>

<div id="container" style="width:80%; height:400px; margin: auto; padding-bottom: 32px;"></div>