<h1>Atribuir cartões </h1>

<div class="attach">

<form class="form">
    <div class="form-group row">
        <div class="col-lg-3">

<div class="">
<div class="card card-custom card-stretch gutter-b min-h-260px">
<form class="form">
    <div class="card-body">
     <div class="form-group" ng-app="DemoApp" ng-controller="DemoCtrl">
      <label>NII:</label>
      <input (ng-model)="FindNii" class="form-control"/>

      <span class="form-text text-muted">Insira o NII</span>
     </div>
     <button (click)="FindNum()" type="reset" class="btn btn-primary mr-2">Pesquisar</button>
        </div>
     </form>

</div></div>



    <div class="">
        
    <div class="card card-custom card-stretch gutter-b min-h-260px">
    <form class="form">
        <div class="card-body">
            <div class="form-group row">
            <div class="col">
            <div class="image-input image-input-outline" id="kt_image_1">
                <div class="image-input-wrapper" style="background-image: url(assets/media/users/teste1.jpg)"></div>
               
                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                 <i class="fa fa-pen icon-sm text-muted"></i>
                 <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg"/>
                 <input type="hidden" name="profile_avatar_remove"/>
                </label>
               
                <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                 <i class="ki ki-bold-close icon-xs text-muted"></i>
                </span>
               </div>
            </div>
            <div class="col">
         <div class="form-group">
          <label>Nome:</label>
          <label type="text" class="form-control"></label>
     
         </div>
         <div class="form-group">
          <label>Posto e Class</label>
          <label type="text" class="form-control">546456</label>
         </div>
     
        </div>
    </div></div>
       </form>
    </div>
       
    </div>
</div>



<div class="col-lg-4">

    <div class="card card-custom  min-h-500px">
        <div class="card-header">
         <h3 class="card-title">
          Cartão
         </h3>
        </div>
        <!--begin::Form-->
        <form class="form">
         <div class="card-body">
          <div class="form-group form-group-last">
           <div class="alert alert-custom alert-default" id="center" role="alert">
            <div class="alert-icon"><i class="flaticon-warning text-primary"></i></div>
            <div class="alert-text">
            <b > Passar o cartão no leitor de cartões, e validar atribuição.</b>
            </div>
           </div>
          </div>
          <div class="form-group">
            <label>Número:</label>
           <label class="form-control">Numero do Cartão</label>
           <label>Tipo:</label>
           <label class="form-control">Tipo de Cartão</label>
          </div>
      
       
         </div>
         <div class="card-footer" >
            
          <button type="reset" class="btn btn-primary mr-2">Atribuir Cartão</button>
          
          <button type="reset" class="btn btn-danger float-right">Elimirar atribuição</button>
          
      
        </div>
          <div id= "caixa" class="alert alert-custom alert-default" role="alert">
            <div class="alert-icon"><i class="flaticon-warning text-primary"></i></div>
            <div class="alert-text ">
             Cartao não atribuido.
            </div>
           </div>
         
        </form>
        <!--end::Form-->
       </div>
    </div>



</div>



</form>




</div>
