<h1 >Pesquisa de Militares CCF</h1>


 

  <div class="col-lg-12">
  <div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-12 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="{{urlImage}}" class="img-radius" alt="Nao Existe Fotografia"> </div>
                                <h6 class="f-w-600">{{name}}</h6>
                                 <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                <div class="row">

                                  <form class="form" [formGroup]="entitySearchform" (ngSubmit)="searchEntity()">
                                    
                                      <div class="row" ng-app="DemoApp" ng-controller="DemoCtrl">

                                        <div class="col-sm-6">
                                        <label>NII: {{findnii}}</label>
                        
                                        <catalog-forms-input autoFocus id="findnii" [formControlField]="fes.findnii" formControlName="findnii"
                                          placeholder="{{ placeholherNii }}" [hideMessages]="true"></catalog-forms-input>
                                       
                                        
                                      </div>
                                  
                                
                                    <div class="col-sm-6">
                                       
                                        <span class="m-b-10 f-w-600">Pesquisa por Nii (ex. M9830401)</span>
                                 
                                        <button type="submit" class="btn btn-primary mr-2">Pesquisar</button>
                                    </div>  </div></form>
                                
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600"></p>
                                        <h6 class="text-muted f-w-400"> </h6>
                                    </div>   
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Dados</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600"> Email</p>
                                        <h6 class="text-muted f-w-400">{{email}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">unidade</p>
                                        <h6 class="text-muted f-w-400">{{unit}}</h6>
                                    </div>
                                </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


<div class="col-lg-12" style="margin-top: -50px;">
  <div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-12 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h3 class="m-b-20 p-b-5 b-b-default f-w-600">Fotos em Falta</h3>
                                <div class="row">
  
                                </div>
                                <h4 class="m-b-10 f-w-200"> Após pesquisa, se não for exibida foto deve:  </h4>                      
                                <p class="m-b-10 f-w-200">  - Enviar a fotografia tipo passe (Farda  3B) para moreira.sousa@marinha.pt </p>
                                <p class="m-b-10 f-w-200">  - Caso não tenha foto, deve dirigir-se à secçao de audiovisuais do CF </p>
                            
                              
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>