// .mat-column-gateway,
.mat-column-additional-modules,
.mat-column-field-devices,
.mat-column-application-devices,
.mat-column-status {
  justify-content: center;
}

.custom-progress-bar {
  width: 130px;
  height: 10px;
  margin-top: 3px;
}

.path {
  font-size: 0.8rem;
  font-weight: 500;
  color: #9f9e9e;
  text-align: center;
  cursor: default;
}