<div class="m-portlet" [ngClass]="{'h-100' : fullHeight }">
  <div #header class="m-portlet__head">
    <div class="m-portlet__head-caption w-100">
      <div #headerContent class="m-portlet__head-title w-100">
        <ng-content select="[header]"></ng-content>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <ng-content select="[headerActions]"></ng-content>
        <li *ngIf="collapsed !== undefined && !collapsed" class="m-portlet__nav-item">
          <a href="javascript:;" class="m-portlet__nav-link m-portlet__nav-link--icon" (click)="toggle()">
            <i class="la la-angle-up"></i>
          </a>
        </li>
        <li *ngIf="collapsed" class="m-portlet__nav-item">
          <a href="javascript:;" class="m-portlet__nav-link m-portlet__nav-link--icon" (click)="toggle()">
            <i class="la la-angle-down"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
    <ng-content *ngIf="collapsed === undefined || !collapsed" select="[body]"></ng-content>
  </div>
</div>