<main-theme-modal (dismissEvent)="onCancel()">

  <ng-container header>{{ 'labels.add_gateway' | translate }}</ng-container>

  <ng-container body>
    <catalog-loader name="gateway-management"></catalog-loader>

    <div class="d-flex justify-content-between pb-4">
      <div>
        <h5>{{ 'features.gateway_management.titles.create_your_gateway' | translate }}</h5>
        <div>{{ 'features.gateway_management.messages.create_your_gateway' | translate }}</div>
      </div>
      <button type="button" class="btn btn-primary" (click)="openEquipmentSelectionDialog()">{{ 'features.gateway_management.actions.choose_equipment' | translate }}</button>
    </div>

    <div class="texted-separator">{{ 'dictionary.or' | translate }}</div>

    <div class="py-4">
      <h5>{{ 'features.gateway_management.titles.register_gateway' | translate }}</h5>
      <div>{{ 'features.gateway_management.messages.register_gateway' | translate }}</div>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSave()">
      <div class="row">
        <div class="col-6">
          <catalog-forms-input [formControlField]="f.serialNumber" formControlName="serialNumber"
            label="{{ 'labels.serial_number' | translate }}" [required]="true" maxLength="8">
            <ng-container prepend><span class="input-group-text">0x</span></ng-container>
          </catalog-forms-input>
        </div>
        <div class="col-6">
          <catalog-forms-text label="{{ 'dictionary.type' | translate }}"
            value="{{ selectedModuleType.name || ('features.gateway_management.messages.insert_valid_serial_number' | translate) }}">
          </catalog-forms-text>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <catalog-forms-input [formControlField]="f.labelKey" formControlName="labelKey" label="{{ 'labels.label_key' | translate }}"
            [required]="true" maxLength="16">
            <ng-container prepend><span class="input-group-text">0x</span></ng-container>
          </catalog-forms-input>
        </div>
        <div class="col-6">
          <catalog-forms-text value="{{ 'features.gateway_management.messages.insert_valid_label_key' | translate }}"></catalog-forms-text>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <catalog-forms-input [formControlField]="f.name" formControlName="name" label="{{ 'dictionary.name' | translate | titlecase }}"
            [required]="true">
          </catalog-forms-input>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <catalog-forms-input [formControlField]="f.description" formControlName="description" label="{{ 'dictionary.description' | translate | titlecase }}">
          </catalog-forms-input>
        </div>
      </div>

    </form>

  </ng-container>

  <ng-container footer>
    <button type="button" class="btn-cancel" (click)="onCancel()">{{ 'dictionary.cancel' | translate | titlecase }}</button>
    <button type="submit" class="btn-submit" (click)="onSave()">{{ 'dictionary.add' | translate | titlecase }}</button>
  </ng-container>

</main-theme-modal>