<main-theme-modal (dismissEvent)="onCancel()">

  <ng-container header>{{ 'labels.edit_gateway_details' | translate }}</ng-container>

  <ng-container body>

    <catalog-loader name="edit-gateway"></catalog-loader>

    <form [formGroup]="form" (keydown.enter)="onSave()">

      <div class="row">
        <div class="col-12">
          <label> {{ 'labels.serial_number' | translate | titlecase }} </label>
          <div class="d-flex justify-content-between align-items-center pb-3">
            <span class="serial-number"> {{ gateway.serialNumber }} </span> &nbsp;
            <!-- REPLACE GATEWAY FEATURE <button tabindex="-1" class="btn btn-secondary" (click)="openReplaceGatewayModal()"> {{ 'dictionary.replace' | translate | uppercase }}</button> -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <catalog-forms-input autoFocus id="edit-gw-name" [formControlField]="f.name" formControlName="name"
            label="{{ 'dictionary.name' | translate | titlecase }}" [required]="true">
          </catalog-forms-input>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <catalog-forms-input [formControlField]="f.description" formControlName="description"
            label="{{ 'dictionary.description' | translate | titlecase }}">
          </catalog-forms-input>
        </div>
      </div>

    </form>

  </ng-container>

  <ng-container footer>
    <button tabindex="3" type="button" class="btn-cancel" (click)="onCancel()">{{ 'dictionary.cancel' | translate | titlecase }}</button>
    <button tabindex="4" type="submit" class="btn-submit" (click)="onSave()">{{ 'dictionary.save' | translate | titlecase }}</button>
  </ng-container>

</main-theme-modal>