<main-theme-modal (dismissEvent)="onClose()">

  <ng-container header>{{ 'dictionary.gateway' | translate | titlecase }}</ng-container>

  <ng-container body>

    <div class="row">
      <div class="col-2">
        <h6>{{ 'labels.serial_number' | translate }}</h6>
        <div>{{ gateway.serialNumber }}</div>
      </div>
      <div class="col-3">
        <h6>{{ 'dictionary.name' | translate | titlecase }}</h6>
        <div>{{ gateway.name }}</div>
      </div>
      <div class="col-6">
        <h6>{{ 'dictionary.description' | translate | titlecase }}</h6>
        <div>{{ gatewayMasterModule.description || '-' }}</div>
      </div>
      <div class="col-1">
        <div class="mat-column-actions pr-2">
          <a class="btn-action" (click)="openGatewayDetailsDialog()"><i class="fa fa-pen"></i></a>
        </div>
      </div>
    </div>

    <div class="pt-5">
      <h5 class="mb-3">{{ 'dictionary.communications' | translate | titlecase }}</h5>
      <div class="row">
        <div class="col-2">
          <h6>{{ 'forms.gprs.label' | translate }}</h6>
          <div>{{ (gateway.gprsConfiguration.enabled ? 'dictionary.yes' : 'dictionary.no') | translate | titlecase }}</div>
        </div>
        <div class="col-3">
          <h6>{{ 'forms.apn.label' | translate }}</h6>
          <div>{{ gateway.gprsConfiguration.apn || '-' }}</div>
        </div>
        <div class="col-3">
          <h6>{{ 'forms.user.label' | translate }}</h6>
          <div>{{ gateway.gprsConfiguration.user || '-' }}</div>
        </div>
        <div class="col-3">
          <h6>{{ 'forms.password.label' | translate }}</h6>
          <div>{{ gateway.gprsConfiguration.password ? '******' : '-' }}</div>
        </div>
        <div class="col-1">
          <div class="mat-column-actions pr-2">
            <a class="btn-action" (click)="openGatewayCommunicationsDialog()"><i class="fa fa-pen"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="section-separator pt-5" (click)="toggleAdvancedOptions()">
      <span class="title">{{ 'dictionary.modules' | translate | titlecase }} ({{ gateway.modules.length > 1 ? gateway.modules.length - 1 : 0}})</span>
      <i class="fa" [ngClass]="{ 'fa-chevron-up': !collapsed, 'fa-chevron-down': collapsed }"></i>
    </div>

    <div [@grow]="collapsed ? 'small' : 'big'" class="row">
      <div class="col-12">
        <mat-table [dataSource]="table.dataSource" matSort>
          <mat-header-row *matHeaderRowDef="table.displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: table.displayedColumns" (dblclick)="openEditModuleModalDialog(row)"></mat-row>

          <ng-container matColumnDef="serialNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'labels.serial_number' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.serialNumber }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'dictionary.type' | translate | titlecase }}</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.type }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'dictionary.description' | translate | titlecase }}</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.description || '-' }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
              <button type="button" class="btn-action" (click)="openAddModuleModalDialog()">
                <i class="fa fa-plus"></i>
              </button>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <a class="btn-action" (click)="openEditModuleModalDialog(row)"><i class="fa fa-pen"></i></a>
              <a class="btn-action-danger" (click)="deleteModule(row)"><i class="fa fa-trash"></i></a>
            </mat-cell>
          </ng-container>

        </mat-table>
      </div>
    </div>
  </ng-container>

  <ng-container footer>
    <!-- DELETE GATEWAY FEATURE <button type="button" class="btn-danger" (click)="onDelete()">{{ 'dictionary.delete' | translate | titlecase }}</button> -->
      <button type="button" class="btn-cancel" (click)="onClose()">{{ 'dictionary.close' | translate | titlecase }}</button>
  </ng-container>

</main-theme-modal>
