<main-theme-modal (dismissEvent)="onCancel()">
  <ng-container header>{{ title }}</ng-container>

  <ng-container body>
    <catalog-loader name="gateway-management"></catalog-loader>
    <form [formGroup]="form" (keydown.enter)="onSave()">

      <div *ngIf="!isReplacement" class="row">
        <div class="col-6">
          <catalog-forms-input autoFocus id="gw-management-sn" [formControlField]="f.serialNumber" formControlName="serialNumber"
            label="{{ 'labels.serial_number' | translate }}" [required]="true" maxLength="8">
            <ng-container prepend><span class="input-group-text">0x</span></ng-container>
          </catalog-forms-input>
        </div>
        <div class="col-6">
          <catalog-forms-text label="Type" value="{{ selectedModule.name || 'Please, insert a valid gateway serial' }}">
          </catalog-forms-text>
        </div>
      </div>

      <ng-container *ngIf="isReplacement">
        <div class="row pb-3">
          <div class="col-12 col-custom-6">
            <catalog-forms-input autoFocus id="gw-management-sn" [formControlField]="f.serialNumber" formControlName="serialNumber"
              label="{{ 'labels.current_gateway' | translate }}">
              <ng-container prepend><span class="input-group-text">0x</span></ng-container>
            </catalog-forms-input>
          </div>
          <div class="col-12 col-custom-6">
            <catalog-forms-input [formControlField]="f.labelKey" formControlName="labelKey"
              label="{{ 'labels.current_gateway_label_key' | translate }}" [required]="true" maxLength="16">
              <ng-container prepend><span class="input-group-text">0x</span></ng-container>
            </catalog-forms-input>
          </div>
        </div>

        <mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>
        <h5 class="text-dark pt-3">{{ 'labels.new_gateway' | translate }}</h5>
        <div class="row pt-3">
          <div class="col-12 col-custom-6">
            <catalog-forms-input [formControlField]="f.newGateway" formControlName="newGateway"
              label="{{ 'labels.serial_number' | translate }}" [required]="true" maxLength="8">
              <ng-container prepend><span class="input-group-text">0x</span></ng-container>
            </catalog-forms-input>
          </div>
          <div class="col-12 col-custom-6">
            <catalog-forms-input [formControlField]="f.newGatewayLabelKey" formControlName="newGatewayLabelKey"
              label="{{ 'labels.label_key' | translate }}" [required]="true" maxLength="16">
              <ng-container prepend><span class="input-group-text">0x</span></ng-container>
            </catalog-forms-input>
          </div>
        </div>
      </ng-container>

      <div *ngIf="!isModuleAdition && !isModuleEdition && !isReplacement" class="row">
        <div class="col-6">
          <catalog-forms-input [formControlField]="f.labelKey" formControlName="labelKey"
            label="{{ 'labels.label_key' | translate }}" [required]="true" maxLength="16">
            <ng-container prepend><span class="input-group-text">0x</span></ng-container>
          </catalog-forms-input>
        </div>
        <div class="col-6">
          <catalog-forms-text value="{{ 'features.gateway_management.messages.insert_valid_label_key' | translate }}">
          </catalog-forms-text>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <catalog-forms-input [formControlField]="f.name" formControlName="name"
            label="{{ 'dictionary.name' | translate | titlecase }}" [required]="true">
          </catalog-forms-input>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <catalog-forms-input [formControlField]="f.description" formControlName="description"
            label="{{ 'dictionary.description' | translate | titlecase }}">
          </catalog-forms-input>
        </div>
      </div>

    </form>

  </ng-container>

  <ng-container footer>
    <button type="button" class="btn-cancel"
      (click)="onCancel()">{{ 'dictionary.cancel' | translate | titlecase }}</button>
    <button type="submit" class="btn-submit" (click)="onSave()">
      <ng-container *ngIf="!data.isEdition && !isReplacement">{{ 'dictionary.add' | translate | titlecase }}
      </ng-container>
      <ng-container *ngIf="isReplacement">{{ 'dictionary.replace' | translate | titlecase }}</ng-container>
      <ng-container *ngIf="data.isEdition">{{ 'dictionary.save' | translate | titlecase }}</ng-container>
    </button>
  </ng-container>

</main-theme-modal>