<!--begin::Wrapper-->
<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
    <!--begin::Header-->
    
    <!--end::Header-->
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
            <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Details-->
                <div class="d-flex align-items-center flex-wrap mr-2">
                    <!--begin::Title-->
                    <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Movimentos</h5>
                    <!--end::Title-->
                    <!--begin::Separator-->
                    <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
                    <!--end::Separator-->
                    <!--begin::Search Form-->
                    <div class="d-flex align-items-center" id="kt_subheader_search">
                     <!--    <div class="date">
                        <span class="text-dark-50 font-weight-bold" id="kt_subheader_total">{{MovimentsDay |  date:'dd/MM/yyyy'}}</span>
                        </div> -->
                        <div class="date">

                                                

                        <form class="form ml-5" [formGroup]="MovementSearchform" (ngSubmit)="searchMovement()">
                            <div class="input-group input-group-sm input-group-solid">

                              
                          
                                <catalog-forms-input autoFocus id="findnii" [formControlField]="fes.findnii" formControlName="findnii"
                                placeholder="{{ placeholherNii }}" [hideMessages]="true"></catalog-forms-input>


                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <span class="svg-icon">
                                            <!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg-->
                                            <svg xmlns="http://www.w3.org/2000/svg" 
                                                xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                                viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24" />
                                                    <path
                                                        d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                                                        fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                    <path
                                                        d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                                                        fill="#000000" fill-rule="nonzero" />
                                                </g>
                                            </svg>
                                            <!--end::Svg Icon-->
                                        </span>
                                        <!--<i class="flaticon2-search-1 icon-sm"></i>-->
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>

                       
                        
                                                
                       
                    </div>
                    <!--end::Search Form-->

                </div>
                <!--end::Details-->

                
                <!--begin::Toolbar-->
                <div class="d-flex align-items-center ">

                    <form class="form-inline">
               
                        <div class="form-group">
        
                              
                                <div class="input-group input-large date-picker input-daterange" data-date="" data-date-format="mm/dd/yyyy" style="width: 300px;">
                                    <span class="input-group-addon"> de </span>
                                    <input class="form-control" placeholder="AAAA-MM-DD"
                                    name="dp1" [(ngModel)]="from" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
                                    <span class="input-group-addon"> a </span>
                                    <input class="form-control" placeholder="AAAA-MM-DD"
                                    name="dp2" [(ngModel)]="to" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()"> 
                                  </div>
                                                             
                           <button type ="input" class="btn btn-light-primary  font-weight-bold btn-sm px-4 font-size-base ml-2"(click)="searchMovement()" >Pesquisar</button> 
                   
                        </div>

                       <div class="local">
                            <select  class="row justify-content-between  font-weight-bold btn-sm px-4 font-size-base ml-2"  (change)="selectChangeHandler($event)" name="num" [(ngModel)]="number"  style="margin-left: 30px">
                            <option *ngFor="let n of numbers" [value]="n">{{n}}</option>
                            </select>
                      
                        </div> 
                      </form>
                    <!--begin::Button
                 <a href="#" class=""></a>
              
                    <a href="#"
                        class="btn btn-light-primary  font-weight-bold btn-sm px-4 font-size-base ml-2">Pesquisar</a>
                    end::Button-->
                  
                </div>
                <!--end::Toolbar-->
            </div>
        </div>
        <!--end::Subheader-->
        <!--begin::Entry-->

        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                <!--begin::Card-->
                <div class="card card-custom">
        
      
            <!--begin: Datatable-->
            <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable">
                <table class="newtable">
                    <thead class="datatable-head">
                        <tr class="datatable-row" style="left: 0px;">
                            <th data-field="RecordID"
                                class="datatable-cell-left datatable-cell datatable-cell-sort datatable-cell-sorted"
                                data-sort="asc"><span style="width: 40px;">#<i
                                        class="flaticon2-arrow-up"></i></span></th>
                            <th data-field="OrderID" class="datatable-cell datatable-cell-sort"><span
                                    style="width: 250px;">Entidade</span></th>
                            <th data-field="Country" class="datatable-cell datatable-cell-sort"><span
                                    style="width: 158px;">Cartão Atribuido</span></th>
                            <th data-field="ShipDate" class="datatable-cell datatable-cell-sort"><span
                                    style="width: 158px;">Movimento</span></th>
                            <th data-field="CompanyName" class="datatable-cell datatable-cell-sort"><span
                                    style="width: 158px;">Local e Notas</span></th>
                            <th data-field="Status" class="datatable-cell datatable-cell-sort"><span
                                    style="width: 158px;">Status</span></th>
                         
                        </tr>
                    </thead>
                    <tbody class="datatable-body">
                        <!--list users-->
                    
                        <tr  *ngFor="let movement of movements; let i = index" data-row="46" class="datatable-row datatable-row-even" style="left: 0px;">
                            <td class="datatable-cell-sorted datatable-cell-left datatable-cell"
                                data-field="RecordID" aria-label="00"><span style="width: 40px;"><span
                                        class="font-weight-bolder">{{ i+1 }}</span></span></td>
                            <td data-field="OrderID" aria-label="0781-5555" class="datatable-cell"><span
                                    style="width: 250px;">
                                    <div class="d-flex align-items-center">
                                        <div class="imgmil"> <div class="symbol symbol-40 symbol-sm flex-shrink-0"> 
                                       
                                            <img
                                                src="assets/media/users/{{movement.entitySerial}}.bmp" alt="photo"> </div></div>
                                        <div class="ml-4">
                                             <a href="/profile" class="text-dark-75 font-weight-bolder font-size-lg mb-0 text-hover-primary">
                                                {{movement.entityName}}</a> <div
                                                class="text-muted font-weight-bold ">{{movement.entitySerial}}</div>
                                        </div>
                                    </div>
                                </span></td>
                            <td data-field="card" aria-label="Indonesia" class="datatable-cell"><span
                                    style="width: 158px;">
                                    <div class="font-weight-bolder font-size-lg mb-0">{{movement.cardNumber}}</div>
                                    <div class="font-weight-bold text-muted">UID:{{movement.cardId}}</div>
                                </span></td>
                                
                            <td data-field="cardDate" aria-label="3/17/2017" class="datatable-cell"><span
                                    style="width: 158px;">
                                    <div class="font-weight-bolder font-size-lg mb-0">{{movement.movementDate |  date:'dd/MM/yyyy'}}</div>
                                    <div class="text-muted">{{movement.movementDate | date: ' HH:mm'  }}</div>
                                </span></td>

                            <td data-field="Lastregist" aria-label="Beier-Mante" class="datatable-cell">
                                <span style="width: 158px;">
                                    <div class="font-weight-bolder font-size-lg mb-0">{{movement.location}}</div>
                                    <div class="text-muted">falta as notas do movimento</div>
                                   
                                </span></td>
                            <td data-field="Status" aria-label="5" class="datatable-cell"><span
                                    style="width: 158px;"><span
                                        class="label label-lg font-weight-bold {{cardStatusColor}} label-inline">{{movement.inOut}}</span></span>
                            </td>
                          
                        </tr>
                       

                    
                    </tbody>
                </table>
            </div>
            <!--end: Datatable-->
        </div></div></div>


   

        


        <!--end::Entry-->
    </div>
    <!--end::Content-->
    <!--begin::Footer-->
  
    <!--end::Footer-->
</div>
<!--end::Wrapper-->

