<app-sign-in-layout>
  <div *ngIf="contentReady">
    <div *ngIf="successMessage.visible"
      class="alert alert-success alert-dismissible fade show m-alert m-alert--air m-alert--outline m-alert--outline-2x"
      role="alert">
      {{ successMessage.message | translate }}
    </div>
    <div *ngIf="errors.length > 0"
      class="alert alert-danger alert-dismissible fade show m-alert m-alert--air m-alert--outline m-alert--outline-2x"
      role="alert">
      <span *ngFor="let error of errors">
        {{ error | translate }}
      </span>
    </div>
    <form *ngIf="!successMessage.visible" [formGroup]="changePasswordForm"
      class="m-login__form m-form mt-2">
      <app-form-input formControlName="password" [formControlField]="f.password" type="password" [required]="true"
        placeholder="{{'auth.labels.enter_your_password' | translate}}">
      </app-form-input>
      <div class="mt-2">
        <app-form-input formControlName="confirmPassword" [formControlField]="f.confirmPassword" type="password"
          [required]="true" placeholder="{{'auth.labels.confirm_password' | translate}}">
        </app-form-input>
      </div>
      <div class="m-login__form-action">
        <div class="pt-3 pb-4 d-flex justify-content-end">
          <button class="btn btn-outline-info m-btn--custom" type="button" (click)="backToLogin()">
            {{ 'auth.labels.sign_in' | translate }}
          </button>
          &nbsp;
          &nbsp;
          <button class="btn btn-info m-btn--custom m-btn--air" type="submit" (click)="validateForm()">
            {{ 'auth.labels.change_password' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</app-sign-in-layout>