<div class="d-flex flex-column-fluid">
  <!--begin::Container-->
  <div class="container">
    <!--begin::Profile 2-->
    <div class="d-flex flex-row">
      <!--begin::Aside-->

      <!--end::Aside-->
      <!--begin::Content-->
      <div class="flex-row-fluid ml-lg-10">
        <!--begin::Row-->
        <div class="row">
          <div class="col-lg-2">

            <!--begin::Body-->
            <div class="card card-custom card-stretch gutter-b">
              <!--begin::User-->
              <div class="text-center mb-10">
                <div class="symbol symbol-60 symbol-circle symbol-xl-90">
                  <div class="symbol-label" style="background-image: url({{urlImage}})"></div>

                </div>
                <h4 class="font-weight-bold my-2">Corpo de Fuzileiros</h4>
                <div class="text-muted mb-2">ALF+EF</div>
                <span class="label label-light-success label-inline font-weight-bold label-lg">Active</span>
              </div>
              <!--end::User-->

              <!--begin::Nav-->
              <div class="navi navi-bold navi-hover navi-active navi-link-rounded">
                <div class="navi-item ">
                  <a href="/cfhome"  class="navi-link py-4 active">
                    <span class="navi-icon mr-2">
                      <span class="svg-icon">

                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                          height="24px" viewBox="0 0 24 24" version="1.1">
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path
                              d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z"
                              fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                            <path
                              d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z"
                              fill="#000000" fill-rule="nonzero"></path>
                          </g>
                        </svg>

                      </span>
                    </span>
                    <span class="navi-text font-size-lg">Visão Geral</span>
                  </a>
                </div>

                <div class="navi-item">
                  <a href="#"  class="navi-link py-4 disabled ">
                    <span class="navi-icon mr-2">
                      <span class="svg-icon">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Code/Compiling.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                          height="24px" viewBox="0 0 24 24" version="1.1">
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <path
                              d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z"
                              fill="#000000" opacity="0.3"></path>
                            <path
                              d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z"
                              fill="#000000"></path>
                          </g>
                        </svg>
                        <!--end::Svg Icon-->
                      </span>
                    </span>
                    <span class="navi-text font-size-lg">CF-Escola</span>
                  </a>
                </div>

                <div class="navi-item ">
                  <a href="#"  class="navi-link py-4 disabled ">
                    <span class="navi-icon mr-2">
                      <span class="svg-icon">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Code/Compiling.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                          height="24px" viewBox="0 0 24 24" version="1.1">
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <path
                              d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z"
                              fill="#000000" opacity="0.3"></path>
                            <path
                              d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z"
                              fill="#000000"></path>
                          </g>
                        </svg>
                        <!--end::Svg Icon-->
                      </span>
                    </span>
                    <span class="navi-text font-size-lg">Cf-Alfeite</span>
                  </a>
                </div>

                <div class="navi-item ">
                  <a href="#"  class="navi-link py-4 disabled ">
                    <span class="navi-icon mr-2">
                      <span class="svg-icon">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Code/Compiling.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                          height="24px" viewBox="0 0 24 24" version="1.1">
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <path
                              d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                              fill="#000000" fill-rule="nonzero" opacity="0.3" />

                            <path
                              d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                              fill="#000000" fill-rule="nonzero" />

                          </g>
                        </svg>
                        <!--end::Svg Icon-->
                      </span>
                    </span>
                    <span class="navi-text font-size-lg">Entidades</span>
                  </a>
                </div>

                <div class="navi-item ">
                  <a href="/controlo"  class="navi-link py-4 ">
                    <span class="navi-icon mr-2">
                      <span class="svg-icon">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Code/Compiling.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                          height="24px" viewBox="0 0 24 24" version="1.1">
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <path
                              d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                              fill="#000000" fill-rule="nonzero" opacity="0.3" />

                            <path
                              d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                              fill="#000000" fill-rule="nonzero" />

                          </g>
                        </svg>
                        <!--end::Svg Icon-->
                      </span>
                    </span>
                    <span class="navi-text font-size-lg">Controlo</span>
                  </a>
                </div>


              </div>

              <!--end::Nav-->
            </div>
            <!--end::Body-->
          </div>


          <div class="col-lg-4">
            <!--begin::List Widget 10-->
            <div class="card card-custom card-stretch gutter-b">
              <!--begin::Header-->
              <div class="card-header border-0">
                <h3 class="card-title font-weight-bolder text-dark">Destaques</h3>

              </div>
              <!--end::Header-->
              <!--begin::Body-->
              <div class="card-body pt-0">
                <!--begin::Item-->

                <div class="mb-6" style="padding-bottom: 10px;">
                  <!--begin::Content-->
                  <div class="d-flex align-items-center flex-grow-1">

                    <!--begin::Section-->
                    <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
                      <!--begin::Info-->
                      <div class="d-flex flex-column align-items-cente py-2 w-75">
                        <!--begin::Title-->
                        <a href="#" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1"></a>
                        <!--end::Title-->
                        <!--begin::Data-->
                        <span class="text-muted font-weight-bold"> </span>
                        <!--end::Data-->
                      </div>
                      <!--end::Info-->
                      <!--begin::Label-->

                      <div class="row">
                        <div class="flex-column">
                          <span class="label label-lg  label-inline font-weight-bold py-4"
                            style="margin-right: 5px; width: 50px;">in</span>
                        </div>
                        <div class="flex-column">
                          <span class="label label-lg  label-inline font-weight-bold py-4" style=" width: 50px;">
                            out</span>
                        </div>
                      </div>

                      <!--end::Label-->
                    </div>
                    <!--end::Section-->
                  </div>
                  <!--end::Content-->
                </div>
                <div class="mb-6" style="padding-bottom: 10px;">
                  <!--begin::Content-->
                  <div class="d-flex align-items-center flex-grow-1">

                    <!--begin::Section-->
                    <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
                      <!--begin::Info-->
                      <div class="d-flex flex-column align-items-cente py-2 w-75">
                        <!--begin::Title-->
                        <a href="#"
                          class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">Corpo de Fuzileiros</a>
                        <!--end::Title-->
                        <!--begin::Data-->
                        <span class="text-muted font-weight-bold"></span>
                        <!--end::Data-->
                      </div>
                      <!--end::Info-->
                      <!--begin::Label-->

                      <div class="row">
                        <div class="flex-column">
                          <span class="label label-lg label-light-success label-inline font-weight-bold py-4"
                            style="margin-right: 5px; width: 50px;">{{militaresCf}}</span>
                        </div>
                        <div class="flex-column">
                          <span class="label label-lg label-light-danger label-inline font-weight-bold py-4"
                            style=" width: 50px;"> {{militaresForaCf}}</span>
                        </div>
                      </div>


                      <!--end::Label-->
                    </div>
                    <!--end::Section-->
                  </div>
                  <!--end::Content-->
                </div>
                <!--end::Item-->

 <!--begin::Item-->
 <div class="mb-6" style="padding-bottom: 10px;">
  <!--begin::Content-->
  <div class="d-flex align-items-center flex-grow-1">

    <!--begin::Section-->
    <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
      <!--begin::Info-->
      <div class="d-flex flex-column align-items-cente py-2 w-75">
        <!--begin::Title-->
        <a href="#"
          class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">CF - Escola</a>
        <!--end::Title-->
        <!--begin::Data-->
        <span class="text-muted font-weight-bold"> </span>
        <!--end::Data-->
      </div>
      <!--end::Info-->
      <!--begin::Label-->

      <div class="row">
        <div class="flex-column">
          <span class="label label-lg label-light-success label-inline font-weight-bold py-4"
            style="margin-right: 5px; width: 50px;">{{militaresCfEf}}</span>
        </div>
        <div class="flex-column">
          <span class="label label-lg label-light-danger label-inline font-weight-bold py-4"
            style=" width: 50px;"> {{militaresForaCfEf}}</span>
        </div>
      </div>

      <!--end::Label-->
    </div>
    <!--end::Section-->
  </div>
  <!--end::Content-->
</div>
<!--end::Item-->

                <!--begin::Item-->
                <div class="mb-6" style="padding-bottom: 5px;">
                  <!--begin::Content-->
                  <div class="d-flex align-items-center flex-grow-1">

                    <!--begin::Section-->
                    <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
                      <!--begin::Info-->
                      <div class="d-flex flex-column align-items-cente py-2 w-75">
                        <!--begin::Title-->
                        <a href="#"
                          class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">CF-Alfeite</a>
                        <!--end::Title-->
                        <!--begin::Data-->
                        <span class="text-muted font-weight-bold"> </span>
                        <!--end::Data-->
                      </div>
                      <!--end::Info-->
                      <!--begin::Label-->

                      <div class="row">
                        <div class="flex-column">
                          <span class="label label-lg label-light-success label-inline font-weight-bold py-4"
                            style="margin-right: 5px; width: 50px;">{{militaresCfAlf}}</span>
                        </div>
                        <div class="flex-column">
                          <span class="label label-lg label-light-danger label-inline font-weight-bold py-4"
                            style=" width: 50px;"> {{militaresForaCfAlf}}</span>
                        </div>
                      </div>

                      <!--end::Label-->
                    </div>
                    <!--end::Section-->
                  </div>
                  <!--end::Content-->
                </div>
                <!--end::Item-->
   <!--begin::Item-->
   <div class="mb-6" style="padding-bottom: 5px;">
    <!--begin::Content-->
    <div class="d-flex align-items-center flex-grow-1">

      <!--begin::Section-->
    <hr>


      <!--end::Section-->
    </div>
    <!--end::Content-->
  </div>

   <div class="mb-6" style="padding-bottom: 5px;">
    <!--begin::Content-->
    <div class="d-flex align-items-center flex-grow-1">

      <!--begin::Section-->
      <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
        <!--begin::Info-->
        <div class="d-flex flex-column align-items-cente py-2 w-75">
          <!--begin::Title-->
          <a href="/card-list"
            class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">Cartôes Atribuidos</a>
          <!--end::Title-->
          <!--begin::Data-->
          <span class="text-muted font-weight-bold">Alfeite / Escola </span>
          <!--end::Data-->
        </div>
        <!--end::Info-->
        <!--begin::Label-->

        <div class="row">
          <div class="flex-column">
            <span class="label label-lg label-light-success label-inline font-weight-bold py-4"
              style="margin-right: 5px; width: 50px;">{{cardsCfAlf}}</span>
          </div>
          <div class="flex-column">
            <span class="label label-lg label-light-danger label-inline font-weight-bold py-4"
              style=" width: 50px;"> {{cardsCfEf}}</span>
          </div>
        </div>

        <!--end::Label-->
      </div>
      <!--end::Section-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Item-->
  <hr>

                <div class="mb-6 " style="padding-bottom: 10px;">
                  <!--begin::Content-->
                  <div class="d-flex align-items-center flex-grow-1">

                    <!--begin::Section-->
                    <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
                      <!--begin::Info-->
                      <div class="d-flex flex-column py-2 w-50">
                        <!--begin::Title-->
                        <a href="#"
                          class="text-dark-50 font-weight-bold text-hover-primary font-size-lg mb-1">Refeições</a>
                        <!--end::Title-->


                        <!--begin::Data-->
                        <span class="text-muted font-weight-bold">P. almoço/Almoço/Jantar</span>
                        <!--end::Data-->
                      </div>
                      <!--end::Info-->
                      <!--begin::Label-->
                      <div class="row ">
                        <div class="flex-column">
                          <span class="label label-lg label-light-primary label-inline font-weight-bold py-4"
                            style="margin-right: 5px; width: 40px;">{{mealscf1}}</span>
                        </div>
                        <div class="flex-column">
                          <span class="label label-lg label-light-info label-inline font-weight-bold py-4"
                            style=" margin-right: 5px; width: 40px;">{{mealscf2}}</span>
                        </div>
                        <div class="flex-column">
                          <span class="label label-lg label-light-info label-inline font-weight-bold py-4"
                            style=" width: 40px;">{{mealscf3}}</span>
                        </div>
                      </div>
                      <!--end::Label-->
                    </div>
                    <!--end::Section-->
                  </div>
                  <!--end::Content-->
                </div>


              </div>
              <!--end: Card Body-->
            </div>
            <!--end: Card-->
            <!--end: List Widget 10-->
          </div>
          <div class="col-lg-6">
            <!--begin::Mixed Widget 5-->
            <div class="card card-custom card-stretch gutter-b">

              <!--begin::Body-->
              <div class="card-body d-flex flex-column p-0" style="position: relative;">
                <!--begin::Chart-->


                <div id="chart" style="padding-top: 30px">
                  <apx-chart [series]="chartOptions6.series" [chart]="chartOptions6.chart" [yaxis]="chartOptions6.yaxis"
                    [xaxis]="chartOptions6.xaxis" [labels]="chartOptions6.labels" [stroke]="chartOptions6.stroke"
                    [title]="chartOptions6.title" [dataLabels]="chartOptions6.dataLabels" [fill]="chartOptions6.fill"
                    [tooltip]="chartOptions6.tooltip"></apx-chart>
                </div>



                <div class="card-spacer bg-white card-rounded flex-grow-1">
                  <span class="label-lg label-inline font-weight-bold">Médias dos ultimos 7 dias:</span>
                  <!--begin::Row-->

                  <div class="row m-0">
                    <div class="col px-8 py-6 mr-8">
                      <div class="font-size-sm text-muted font-weight-bold">Militares no CF</div>
                      <div class="font-size-h4 font-weight-bolder">---</div>
                    </div>
                    <div class="col px-8 py-6">
                      <div class="font-size-sm text-muted font-weight-bold">Militares fora do CF</div>
                      <div class="font-size-h4 font-weight-bolder">---</div>
                    </div>
                  </div>
                  <!--end::Row-->
                  <!--begin::Row-->
                  <div class="row m-0">
                    <div class="col px-8 py-6 mr-8">
                      <div class="font-size-sm text-muted font-weight-bold">Civis no CF</div>
                      <div class="font-size-h4 font-weight-bolder">---</div>
                    </div>
                    <div class="col px-8 py-6">
                      <div class="font-size-sm text-muted font-weight-bold">Civis fora do CF</div>
                      <div class="font-size-h4 font-weight-bolder">---</div>
                    </div>
                  </div>
                  <!--end::Row-->
                </div>
                <!--end::Stats-->
                <div class="resize-triggers">
                  <div class="expand-trigger">
                    <div style="width: 446px; height: 420px;"></div>
                  </div>
                  <div class="contract-trigger"></div>
                </div>
              </div>
              <!--end::Body-->
            </div>
            <!--end::Mixed Widget 5-->
          </div>
        </div>
        <!--end::Row-->

        <!--begin::Advance Table Widget 5-->

        <!--begin::Header-->


        <!--end::Advance Table Widget 5-->
      </div>
      <!--end::Content-->
    </div>
    <!--end::Profile 2-->
  </div>
  <!--end::Container-->
</div>

<!--end::Entry-->