<div class="row" *ngIf="label">
  <div class="col-12">
    <div class="dual-list-label"> {{ label | titlecase }} </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <input placeholder="{{ 'dictionary.search' | translate | titlecase }}" class="search"
      (keyup)="filterOptions($event.target.value)" />
  </div>
</div>
<div class="row">
  <div class="col-4 pt-3">
    <div class="title">
      {{ 'labels.search_results' | translate }} ({{filteredValues.length}})
    </div>
    <div class="content">
      <ng-container *ngFor="let option of filteredValues">
        <div class="option" [ngClass]="{'option-selected': optionSelected && option.id === optionSelected.id}"
          (click)="toggleOption(option)" (dblclick)="moveOption(values, selectedValues, option.id)">
          {{ option.value }}
        </div>
      </ng-container>
    </div>
  </div>
  <div class="col-2 buttons-list">
    <button class="list-button" (click)="addAllOptions()"> {{ 'actions.add_all' | translate }} </button>
    <button class="list-button" (click)="addOption()"> {{ 'dictionary.add' | translate | titlecase }} </button>
    <button class="list-button" (click)="removeOption()"> {{ 'dictionary.remove' | translate | titlecase }} </button>
    <button class="list-button" (click)="removeAllOptions()"> {{ 'actions.remove_all' | translate }} </button>
  </div>
  <div class="col-4 pt-3 pl-3">
    <div class="title">
      {{ 'labels.selected_options' | translate }} ({{selectedValues.length}})
    </div>
    <div class="content">
      <ng-container *ngFor="let opt of selectedValues">
        <div class="option" [ngClass]="{'option-selected': optionSelected && opt.id === optionSelected.id}"
          (click)="toggleOption(opt)" (dblclick)="moveOption(selectedValues, values, opt.id)">
          {{ opt.value }}
        </div>
      </ng-container>
    </div>
  </div>
</div>