<div class="container">





  <div class="card card-custom">



    <div class="text-center mb-10">
      <div class="symbol symbol-60 symbol-circle symbol-xl-90">
        <div class="symbol-label" style="background-image: url({{urlImage}})"></div>
        <i class="symbol-badge symbol-badge-bottom bg-success"></i>
      </div>
      <h4 class="font-weight-bold my-2">{{name}}</h4>
      <div class="text-muted mb-2">{{cardType}}</div>

      <span class="label label-light-success label-inline font-weight-bold label-lg">Active</span>
    </div>

    <div class="navi navi-bold navi-hover navi-active navi-link-rounded">

    </div>

    <!--end::Nav-->
  </div>
  <!--end::Body-->
</div>
<!--end::Card-->

<!--end::Aside-->
<!--begin::Content-->






<div class="container">

  <div class="card card-custom">
    <!--begin::Header-->
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
      <div class="card-title">
        <h3 class="card-label">Lista de Registos
          <span class="d-block text-muted pt-2 font-size-sm">Permanencia na unidade</span>
        </h3>
      </div>
      <!--campo de pesquisa -->
      <div class="form-group">
        <button type="button" [ngClass]="{'btn-primary': timeWindow == 7, 'btn-secondary': timeWindow != 7}" class="btn mr-2" (click)="onChangeScale(7)">7d</button>
        <button type="button" [ngClass]="{'btn-primary': timeWindow == 30, 'btn-secondary': timeWindow != 30}" class="btn mr-2" (click)="onChangeScale(30)">1M</button>
        <button type="button" [ngClass]="{'btn-primary': timeWindow == 90, 'btn-secondary': timeWindow != 90}" class="btn mr-2" (click)="onChangeScale(90)">3M</button>
        <button type="button" [ngClass]="{'btn-primary': timeWindow == 180, 'btn-secondary': timeWindow != 180}" class="btn mr-2" (click)="onChangeScale(180)">6M</button>
        <button type="button" [ngClass]="{'btn-primary': timeWindow == 365, 'btn-secondary': timeWindow != 365}" class="btn" (click)="onChangeScale(365)">1Y</button>
      </div>
    </div>

    <div class="card-body">
      <!--begin: Datatable-->
      <div id="chart">
        <apx-chart [series]="chartOptions6.series" [chart]="chartOptions6.chart" [yaxis]="chartOptions6.yaxis"
          [xaxis]="chartOptions6.xaxis" [labels]="chartOptions6.labels" [stroke]="chartOptions6.stroke"
          [title]="chartOptions6.title" [dataLabels]="chartOptions6.dataLabels" [fill]="chartOptions6.fill"
          [tooltip]="chartOptions6.tooltip"></apx-chart>
      </div>
      <!--end: Datatable-->

      <div class="card-spacer bg-white card-rounded flex-grow-1">
        <!--begin::Row-->
        <div class="row m-0">
          <div class="col px-8 py-6 mr-8">
            <div class="font-size-sm text-muted font-weight-bold">Média Horas Diária</div>
            <div class="font-size-h4 font-weight-bolder">{{ stats.last7daysAvgHours }}</div>
          </div>
          <div class="col px-8 py-6">
            <div class="font-size-sm text-muted font-weight-bold">Total Hora</div>
            <div class="font-size-h5 font-weight-bolder">{{ stats.last7daysTotalHours }}
            </div>
          </div>
        </div>
    
      </div>

    </div>
    <!--end::Body-->
  </div>
  <!--end::Card-->
</div>
<!--end::Container-->

<!--end::Entry-->