<div class="container">





  <div class="card card-custom">



    <div class="text-center mb-10">
      <div class="symbol symbol-60 symbol-circle symbol-xl-90">
        <div class="symbol-label" style="background-image: url({{urlImage}})"></div>
        <i class="symbol-badge symbol-badge-bottom bg-success"></i>
      </div>
      <h4 class="font-weight-bold my-2">{{name}}</h4>
      <div class="text-muted mb-2">{{cardType}}</div>

      <span class="label label-light-success label-inline font-weight-bold label-lg">Active</span>
    </div>

    <div class="navi navi-bold navi-hover navi-active navi-link-rounded">

    </div>

    <!--end::Nav-->
  </div>
  <!--end::Body-->
</div>
<!--end::Card-->

<!--end::Aside-->
<!--begin::Content-->






<div class="container">

  <div class="card card-custom">
    <!--begin::Header-->
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
      <div class="card-title">
        <h3 class="card-label">Lista de Registos
          <span class="d-block text-muted pt-2 font-size-sm">Permanencia na unidade</span>
        </h3>
      </div>
      <!--campo de pesquisa -->
      <div class="form-group">
        <button type="button" [ngClass]="{'btn-primary': timeWindow == 8, 'btn-secondary': timeWindow != 8}" class="btn mr-2" (click)="onChangeScale(8)">7d</button>
        <button type="button" [ngClass]="{'btn-primary': timeWindow == 31, 'btn-secondary': timeWindow != 31}" class="btn mr-2" (click)="onChangeScale(31)">1M</button>
        <button type="button" [ngClass]="{'btn-primary': timeWindow == 91, 'btn-secondary': timeWindow != 91}" class="btn mr-2" (click)="onChangeScale(91)">3M</button>
        <button type="button" [ngClass]="{'btn-primary': timeWindow == 181, 'btn-secondary': timeWindow != 181}" class="btn mr-2" (click)="onChangeScale(181)">6M</button>
        <button type="button" [ngClass]="{'btn-primary': timeWindow == 366, 'btn-secondary': timeWindow != 366}" class="btn" (click)="onChangeScale(366)">1Y</button>
      </div>
    </div>

    <div class="card-body">
      <!--begin: Datatable-->
      <div id="chart">
        <apx-chart [series]="chartOptions6.series" [chart]="chartOptions6.chart" [yaxis]="chartOptions6.yaxis"
          [xaxis]="chartOptions6.xaxis" [labels]="chartOptions6.labels" [stroke]="chartOptions6.stroke"
          [title]="chartOptions6.title" [dataLabels]="chartOptions6.dataLabels" [fill]="chartOptions6.fill"
          [tooltip]="chartOptions6.tooltip"></apx-chart>
      </div>
      <!--end: Datatable-->

      <div class="card-spacer bg-white card-rounded flex-grow-1">
        <!--begin::Row-->
        <div class="row m-0">
          <div class="col px-8 py-6 mr-8">
            <div class="font-size-sm text-muted font-weight-bold">Média Horas Diária</div>
            <div class="font-size-h4 font-weight-bolder">{{ stats.last7daysAvgHours }}</div>
          </div>
          <div class="col px-8 py-6">
            <div class="font-size-sm text-muted font-weight-bold">Ultima Entrada</div>
            <div class="font-size-h5 font-weight-bolder">{{lastRegistDate.location}} {{lastRegistDate.date | date:'dd-MM-yyyy'}}
            </div>
          </div>
        </div>
        <div class="row m-0">
          <div class="col px-8 py-6 mr-8">
            <div class="font-size-sm text-muted font-weight-bold">Total Horas</div>
            <div class="font-size-h4 font-weight-bolder">{{ stats.last7daysTotalHours }}</div>
          </div>
          <div class="col px-8 py-6">
            <div class="font-size-sm text-muted font-weight-bold">Ultima Saída</div>
            <div class="font-size-h5 font-weight-bolder">{{lastExitDate.location}} {{lastExitDate.date | date:'dd-MM-yyyy'}}
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--end::Body-->
  </div>
  <!--end::Card-->
</div>
<!--end::Container-->

<!--end::Entry-->