<main-theme-header-topbar-language-selector></main-theme-header-topbar-language-selector>

<main-theme-header-topbar-user-profile></main-theme-header-topbar-user-profile>

<main-theme-aside-bar name="asideBarLayoutRight" sidenavStyleClass="unsaved-changes-column" position="end">

  <ng-container title>{{ 'labels.unsaved_changes' | translate }}</ng-container>

  <ng-container sidenav>
    <div class="system-changes-aside-bar aside-menu">
        <ul class="menu-nav">
          
        </ul>
    </div>
  </ng-container>

</main-theme-aside-bar>
