// Global vendors
// @import "~bootstrap/dist/css/bootstrap.css";
// @import "~perfect-scrollbar/css/perfect-scrollbar.css";
@import "~ngx-toastr/toastr.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "@ng-select/ng-select/themes/default.theme.css";

// Global fonts
@import "~@fortawesome/fontawesome-free/css/all.min.css";
// @import "./core-modules/main-theme/_assets/plugins/line-awesome/css/line-awesome.css";
// @import "./core-modules/main-theme/_assets/plugins/flaticon/flaticon.css";
// @import "./core-modules/main-theme/_assets/plugins/flaticon2/flaticon.css";
@import "./core-modules/main-theme/_assets/plugins/keenthemes-icons/font/ki.css";

// Metronic styles
@import "./core-modules/main-theme/_assets/sass/style.angular.scss";
// @import "./core-modules/main-theme/_assets/sass/vendors/angular/material/angular-material";
// @import "./core-modules/main-theme/_assets/sass/vendors/angular/material/include";


// Default Layout themes
@import "./core-modules/main-theme/_assets/sass/themes/layout/header/base/light.scss";
@import "./core-modules/main-theme/_assets/sass/themes/layout/header/menu/light.scss";
@import "./core-modules/main-theme/_assets/sass/themes/layout/brand/light.scss";
@import "./core-modules/main-theme/_assets/sass/themes/layout/aside/light.scss";



// Custom styles (not imported above).
// @import "./core-modules/main-theme/_assets/sass/pages/wizard/wizard-2.scss";
// @import "./core-modules/main-theme/_assets/sass/pages/wizard/wizard-3.scss";


// Variables.
:root {
  --background-color: #ebebeb;
  --brand-color: #5d78ff;
  --dark-color: #282a3c;
  --light-color: #ffffff;
  --primary-color: #5867dd;
  --secondary-color: #e1e1ef;
  --success-color: #34bfa3;
  --info-color: #36a3f7;
  --warning-color: #ffb822;
  --danger-color: #fd3995;
  --neutral-color: #959cb6;
  --neutral-darker-color: #595d6e;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
