
       
       
   <div class="row ">
    <div class="col-sm-2 align-items-center" style="float: left;">
       <div class="container  ">
      <div class=" card d-flex justify-content-center" style="margin-top:35%">
      
        <div class=" container parent d-flex align-items-center">
          <img class="responsive"  src="assets/media/users/20110.bmp" alt="First "> 
         <div class="centered ">2TEN FZ BASTOS REGALIAS</div>
       </div>
       
      
      </div></div></div>
      <div class="col"  style="float: right;">
        <div class="d-flex flex-fluid">
          <!--begin::Container-->
          <div class="container">
              <!--begin::Card-->
              <div class="card card-custom">
      
    
          <!--begin: Datatable-->
          <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable">
              <table class="newtable">
                  <thead class="datatable-head">
                      <tr class="datatable-row" style="left: 0px;">
                          <th data-field="RecordID"
                              class="datatable-cell-left datatable-cell datatable-cell-sort datatable-cell-sorted"
                              data-sort="asc"><span style="width: 40px;">#<i
                                      class="flaticon2-arrow-up"></i></span></th>
                          <th data-field="OrderID" class="datatable-cell datatable-cell-sort"><span
                                  style="width: 250px;">Entidade</span></th>
                          <th data-field="Country" class="datatable-cell datatable-cell-sort"><span
                                  style="width: 158px;">Cartão Atribuido</span></th>
                          <th data-field="ShipDate" class="datatable-cell datatable-cell-sort"><span
                                  style="width: 158px;">Movimento</span></th>
                          <th data-field="CompanyName" class="datatable-cell datatable-cell-sort"><span
                                  style="width: 158px;">Notas</span></th>
                          <th data-field="Status" class="datatable-cell datatable-cell-sort"><span
                                  style="width: 158px;">Status</span></th>
                       
                      </tr>
                  </thead>
                  <tbody class="datatable-body">
                      <!--list users-->
                  
                      <tr data-row="01" class="datatable-row datatable-row-even" style="left: 0px;">
                          <td class="datatable-cell-sorted datatable-cell-left datatable-cell"
                              data-field="RecordID" aria-label="00"><span style="width: 40px;"><span
                                      class="font-weight-bolder">01</span></span></td>
                          <td data-field="OrderID" aria-label="0781-5555" class="datatable-cell"><span
                                  style="width: 250px;">
                                  <div class="d-flex align-items-center">
                                      <div class="imgmil"> <div class="symbol symbol-40 symbol-sm flex-shrink-0"> 
                                     
                                          <img
                                              src="{{urlImage}}" alt="photo"> </div></div>
                                      <div class="ml-4">
                                           <a href="/profile" class="text-dark-75 font-weight-bolder font-size-lg mb-0 text-hover-primary">
                                              {{name}}</a> <div
                                              class="text-muted font-weight-bold ">{{rankClass}}</div>
                                      </div>
                                  </div>
                              </span></td>
                          <td data-field="card" aria-label="Indonesia" class="datatable-cell"><span
                                  style="width: 158px;">
                                  <div class="font-weight-bolder font-size-lg mb-0">{{cardNumber}}</div>
                                  <div class="font-weight-bold text-muted">UID:{{cardUid}}</div>
                              </span></td>
                          <td data-field="cardDate" aria-label="3/17/2017" class="datatable-cell"><span
                                  style="width: 158px;">
                                  <div class="font-weight-bolder font-size-lg mb-0">{{movdate}}</div>
                                  <div class="text-muted">{{movhora}}</div>
                              </span></td>
                          <td data-field="Lastregist" aria-label="Beier-Mante" class="datatable-cell">
                              <span style="width: 158px;">
                                  <div class="text-muted">{{notas}}</div>
                                 
                              </span></td>
                          <td data-field="Status" aria-label="5" class="datatable-cell"><span
                                  style="width: 158px;"><span
                                      class="label label-lg font-weight-bold {{cardStatusColor}} label-inline">{{cardStatus}}</span></span>
                          </td>
                        
                      </tr>
                      <tr data-row="01" class="datatable-row datatable-row-even" style="left: 0px;">
                        <td class="datatable-cell-sorted datatable-cell-left datatable-cell"
                            data-field="RecordID" aria-label="00"><span style="width: 40px;"><span
                                    class="font-weight-bolder">02</span></span></td>
                        <td data-field="OrderID" aria-label="0781-5555" class="datatable-cell"><span
                                style="width: 250px;">
                                <div class="d-flex align-items-center">
                                    <div class="imgmil"> <div class="symbol symbol-40 symbol-sm flex-shrink-0"> 
                                   
                                        <img
                                            src="{{urlImage}}" alt="photo"> </div></div>
                                    <div class="ml-4">
                                         <a href="/profile" class="text-dark-75 font-weight-bolder font-size-lg mb-0 text-hover-primary">
                                            {{name}}</a> <div
                                            class="text-muted font-weight-bold ">{{rankClass}}</div>
                                    </div>
                                </div>
                            </span></td>
                        <td data-field="card" aria-label="Indonesia" class="datatable-cell"><span
                                style="width: 158px;">
                                <div class="font-weight-bolder font-size-lg mb-0">{{cardNumber}}</div>
                                <div class="font-weight-bold text-muted">UID:{{cardUid}}</div>
                            </span></td>
                        <td data-field="cardDate" aria-label="3/17/2017" class="datatable-cell"><span
                                style="width: 158px;">
                                <div class="font-weight-bolder font-size-lg mb-0">{{movdate}}</div>
                                <div class="text-muted">{{movhora}}</div>
                            </span></td>
                        <td data-field="Lastregist" aria-label="Beier-Mante" class="datatable-cell">
                            <span style="width: 158px;">
                                <div class="text-muted">{{notas}}</div>
                               
                            </span></td>
                        <td data-field="Status" aria-label="5" class="datatable-cell"><span
                                style="width: 158px;"><span
                                    class="label label-lg font-weight-bold {{cardStatusColor}} label-inline">{{cardStatus}}</span></span>
                        </td>
                      
                    </tr>
                    <tr data-row="01" class="datatable-row datatable-row-even" style="left: 0px;">
                      <td class="datatable-cell-sorted datatable-cell-left datatable-cell"
                          data-field="RecordID" aria-label="00"><span style="width: 40px;"><span
                                  class="font-weight-bolder">03</span></span></td>
                      <td data-field="OrderID" aria-label="0781-5555" class="datatable-cell"><span
                              style="width: 250px;">
                              <div class="d-flex align-items-center">
                                  <div class="imgmil"> <div class="symbol symbol-40 symbol-sm flex-shrink-0"> 
                                 
                                      <img
                                          src="{{urlImage}}" alt="photo"> </div></div>
                                  <div class="ml-4">
                                       <a href="/profile" class="text-dark-75 font-weight-bolder font-size-lg mb-0 text-hover-primary">
                                          {{name}}</a> <div
                                          class="text-muted font-weight-bold ">{{rankClass}}</div>
                                  </div>
                              </div>
                          </span></td>
                      <td data-field="card" aria-label="Indonesia" class="datatable-cell"><span
                              style="width: 158px;">
                              <div class="font-weight-bolder font-size-lg mb-0">{{cardNumber}}</div>
                              <div class="font-weight-bold text-muted">UID:{{cardUid}}</div>
                          </span></td>
                      <td data-field="cardDate" aria-label="3/17/2017" class="datatable-cell"><span
                              style="width: 158px;">
                              <div class="font-weight-bolder font-size-lg mb-0">{{movdate}}</div>
                              <div class="text-muted">{{movhora}}</div>
                          </span></td>
                      <td data-field="Lastregist" aria-label="Beier-Mante" class="datatable-cell">
                          <span style="width: 158px;">
                              <div class="text-muted">{{notas}}</div>
                             
                          </span></td>
                      <td data-field="Status" aria-label="5" class="datatable-cell"><span
                              style="width: 158px;"><span
                                  class="label label-lg font-weight-bold {{cardStatusColor}} label-inline">{{cardStatus}}</span></span>
                      </td>
                    
                  </tr>
                  <tr data-row="01" class="datatable-row datatable-row-even" style="left: 0px;">
                    <td class="datatable-cell-sorted datatable-cell-left datatable-cell"
                        data-field="RecordID" aria-label="00"><span style="width: 40px;"><span
                                class="font-weight-bolder">04</span></span></td>
                    <td data-field="OrderID" aria-label="0781-5555" class="datatable-cell"><span
                            style="width: 250px;">
                            <div class="d-flex align-items-center">
                                <div class="imgmil"> <div class="symbol symbol-40 symbol-sm flex-shrink-0"> 
                               
                                    <img
                                        src="{{urlImage}}" alt="photo"> </div></div>
                                <div class="ml-4">
                                     <a href="/profile" class="text-dark-75 font-weight-bolder font-size-lg mb-0 text-hover-primary">
                                        {{name}}</a> <div
                                        class="text-muted font-weight-bold ">{{rankClass}}</div>
                                </div>
                            </div>
                        </span></td>
                    <td data-field="card" aria-label="Indonesia" class="datatable-cell"><span
                            style="width: 158px;">
                            <div class="font-weight-bolder font-size-lg mb-0">{{cardNumber}}</div>
                            <div class="font-weight-bold text-muted">UID:{{cardUid}}</div>
                        </span></td>
                    <td data-field="cardDate" aria-label="3/17/2017" class="datatable-cell"><span
                            style="width: 158px;">
                            <div class="font-weight-bolder font-size-lg mb-0">{{movdate}}</div>
                            <div class="text-muted">{{movhora}}</div>
                        </span></td>
                    <td data-field="Lastregist" aria-label="Beier-Mante" class="datatable-cell">
                        <span style="width: 158px;">
                            <div class="text-muted">{{notas}}</div>
                           
                        </span></td>
                    <td data-field="Status" aria-label="5" class="datatable-cell"><span
                            style="width: 158px;"><span
                                class="label label-lg font-weight-bold {{cardStatusColor}} label-inline">{{cardStatus}}</span></span>
                    </td>
                  
                </tr>
                <tr data-row="01" class="datatable-row datatable-row-even" style="left: 0px;">
                  <td class="datatable-cell-sorted datatable-cell-left datatable-cell"
                      data-field="RecordID" aria-label="00"><span style="width: 40px;"><span
                              class="font-weight-bolder">05</span></span></td>
                  <td data-field="OrderID" aria-label="0781-5555" class="datatable-cell"><span
                          style="width: 250px;">
                          <div class="d-flex align-items-center">
                              <div class="imgmil"> <div class="symbol symbol-40 symbol-sm flex-shrink-0"> 
                             
                                  <img
                                      src="{{urlImage}}" alt="photo"> </div></div>
                              <div class="ml-4">
                                   <a href="/profile" class="text-dark-75 font-weight-bolder font-size-lg mb-0 text-hover-primary">
                                      {{name}}</a> <div
                                      class="text-muted font-weight-bold ">{{rankClass}}</div>
                              </div>
                          </div>
                      </span></td>
                  <td data-field="card" aria-label="Indonesia" class="datatable-cell"><span
                          style="width: 158px;">
                          <div class="font-weight-bolder font-size-lg mb-0">{{cardNumber}}</div>
                          <div class="font-weight-bold text-muted">UID:{{cardUid}}</div>
                      </span></td>
                  <td data-field="cardDate" aria-label="3/17/2017" class="datatable-cell"><span
                          style="width: 158px;">
                          <div class="font-weight-bolder font-size-lg mb-0">{{movdate}}</div>
                          <div class="text-muted">{{movhora}}</div>
                      </span></td>
                  <td data-field="Lastregist" aria-label="Beier-Mante" class="datatable-cell">
                      <span style="width: 158px;">
                          <div class="text-muted">{{notas}}</div>
                         
                      </span></td>
                  <td data-field="Status" aria-label="5" class="datatable-cell"><span
                          style="width: 158px;"><span
                              class="label label-lg font-weight-bold {{cardStatusColor}} label-inline">{{cardStatus}}</span></span>
                  </td>
                
              </tr>
              <tr data-row="01" class="datatable-row datatable-row-even" style="left: 0px;">
                <td class="datatable-cell-sorted datatable-cell-left datatable-cell"
                    data-field="RecordID" aria-label="00"><span style="width: 40px;"><span
                            class="font-weight-bolder">06</span></span></td>
                <td data-field="OrderID" aria-label="0781-5555" class="datatable-cell"><span
                        style="width: 250px;">
                        <div class="d-flex align-items-center">
                            <div class="imgmil"> <div class="symbol symbol-40 symbol-sm flex-shrink-0"> 
                           
                                <img
                                    src="{{urlImage}}" alt="photo"> </div></div>
                            <div class="ml-4">
                                 <a href="/profile" class="text-dark-75 font-weight-bolder font-size-lg mb-0 text-hover-primary">
                                    {{name}}</a> <div
                                    class="text-muted font-weight-bold ">{{rankClass}}</div>
                            </div>
                        </div>
                    </span></td>
                <td data-field="card" aria-label="Indonesia" class="datatable-cell"><span
                        style="width: 158px;">
                        <div class="font-weight-bolder font-size-lg mb-0">{{cardNumber}}</div>
                        <div class="font-weight-bold text-muted">UID:{{cardUid}}</div>
                    </span></td>
                <td data-field="cardDate" aria-label="3/17/2017" class="datatable-cell"><span
                        style="width: 158px;">
                        <div class="font-weight-bolder font-size-lg mb-0">{{movdate}}</div>
                        <div class="text-muted">{{movhora}}</div>
                    </span></td>
                <td data-field="Lastregist" aria-label="Beier-Mante" class="datatable-cell">
                    <span style="width: 158px;">
                        <div class="text-muted">{{notas}}</div>
                       
                    </span></td>
                <td data-field="Status" aria-label="5" class="datatable-cell"><span
                        style="width: 158px;"><span
                            class="label label-lg font-weight-bold {{cardStatusColor}} label-inline">{{cardStatus}}</span></span>
                </td>
              
            </tr>
                  
                  </tbody>
              </table>
          </div>
          <!--end: Datatable-->
      </div></div></div>
    </div>
      
        <!-- <div class="col"><div class="parent-div"><img class="center-block" src="assets/media/users/1212.jpg" alt="First slide"> </div></div>
        <div class="col"><div class="parent-div"><img class="img-fluid" src="assets/media/users/20099.bmp" alt="Second slide"></div></div>
        <div class="col"><div class="parent-div"><img class="img-fluid" src="assets/media/users/20104.bmp" alt="3 slide"></div></div>
        <div class="col"><div class="parent-div"><img class="img-fluid" src="assets/media/users/20109.bmp" alt="4 slide"></div></div>
        <div class="col"><div class="parent-div"><img class="img-fluid" src="assets/media/users/20110.bmp" alt="5 slide"></div></div>
        <div class="col"><div class="parent-div"><img class="img-fluid" src="assets/media/users/9830401.bmp" alt="6 slide"></div></div> -->
      </div>
